* {
  font-family: 'Roboto Slab', serif;
  margin: 0px;
  padding: 0px;
}
.wrapper {
  height: auto;
  width: 100%;
  background-color: rgb(228, 226, 226);
}
.header {
  height: 18px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.headerB {
  background-color: #0000ff;
  width: 33.3%;
}
.headerO {
  /* background-color: #ff4500; */
  background-image: linear-gradient(45deg, #e96208, #ff4500);
  width: 33.3%;
}
.headerG {
    background-image: linear-gradient(to right ,#3af115,#4bc903);
    width: 33.3%;
  }
.container{
    height: auto;
      width: 90%;
      margin: auto;
      /* background-color: rgb(0, 0, 0);*/
  } 
.head{
      height: 70px;
      width: 100%;
      display: flex;
      flex-direction: row;
      /* background-color: blanchedalmond; */
  }
.slogan{
      width: 40%;
     /* background-color: violet;  */
      padding-top: 22px;
      font-size: 25px;
}
.list{
    width: 60%;
    padding-top: 22px;
   position:relative;
   /* background-color: yellow;   */
}
.list  ul{
  list-style: none;
 
}
.list a:hover { 
     color: teal; 
     cursor: pointer; 
} 
nav {
  padding-top: 8px;
  text-align: right;
}
nav ul {
  display: flex;
  flex-direction: row;
  position: absolute;
}
nav ul li {
  list-style-type: none;
  padding: 0px 20px;
}
nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  border-right: 2px solid black;
  border-radius: 2px;
  padding-right: 5px;
  padding: 0px 35px 0px 0px;
  font-size: 15px;
  display: block;
}
@media(max-width:800px){
.line{
width:25px;
height:3px;
background: white;
margin:3px;
  }
  /* nav { */
    /* position: relative; */
  /* } */
  .header{
    position:relative;
  }
  .menuIcon{
  position: absolute;
  left:95%;
  top:-25%;
  display:block;
  cursor: pointer;
  }
.ulList{
 position:relative;
 background-color: rgb(144, 150, 150);
 height: 150px;
 width: 130px;
 margin: -29px 0px 0px 300px;
 /* display: none; */
 display:inline-block;
 /* justify-content:space-around; */
 /* align-items:center; */
 /* flex-direction:column; */
}
nav ul li a {
  border:none;
}
}

/* .menu-button { */
  /* height: 50px; */
  /* width: 80px; */
  /* font-size: 13px; */
  /* background-color: blanchedalmond; */
  /* display: none; */
  /* border: 1px solid black; */
  /* margin-left: 220px; */
/* } */

/* @media(max-width: 800px) { */
  /* .menu-button { */
    /* display:block !important; */
  /* } */
/* }  */
/*  */
/* @media(max-width: 800px) */
/* { */
  /* nav ul { */
    /* display: none; */
  /* } */
/* } */


/* nav ul li :nth-last-child(2) { */
  /* border:none; */
/* } */
.contactList {
  position:relative;
  display: none; 
}
.contactList ul{
  position: absolute;
  background-color:white;
  /* margin-top: 10px; */
  height:150px;
  width: 180px;
  display:flex;
  justify-content:space-around;
  align-items:center;
  flex-direction: column;
  border-radius:5px;
  margin-left:-45px;
  border: none;
}
.contactList ul li:hover{
  background-color:rgb(228, 226, 226);
  width: 150px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contactList ul li a{
  border:none;
}
.list ul li:hover .contactList{
  display:block;
  position: absolute;
}

.menu-button-container:hover .contactList{
  display:block;
  position: absolute;
}
/* nav .List li:hover.contactList li{  */
  /* display: block; */
/* } */
.body0 {
  /* height: 350px; */
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  border: 2px solid black;
}
@media(max-width: 800px) {
   .body0 {
    flex-direction: column;
   }
}
.body1 {
  height: 350px;
  width: 40%;
}
.body1 img {
  height: 100%;
  width: 100%;
}
.body1 p {
  position: absolute;
  z-index: 5;
  top: 35%;
  left: 10%;
  color: white;
  font-size: 25px;
}
.body2 {
  overflow: auto;
  height: 350px;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 30px;
  box-sizing: border-box;
}
.para {
  height: 280px;
  width: 650px;
  text-align: center;
}
.para p {
  text-align: left;
  font-size: 15px;
}
aside {
  height: 60px;
  width: 330px;
  font-size: 13px;
  text-align: left;
}
.buton {
  height: 100px;
  width: 500px;
  text-align: right;
  /* background-color:rgb(40, 10, 150); */
}
.buton button {
  font-size: 15px;
  width: 20px;
  background-color: rgb(236, 172, 8);
  color: brown;
  border-radius: 50%;
}
.buton button:hover {
  color: black;
  cursor: pointer;
}
.contact {
  /* height: 70px; */
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  overflow: scroll;
 
}
@media(max-width:800px){
  .contact{
    flex-direction:row;
  }
}
.quickContact {
  width: 40%;
 
 
  /* background-color: blanchedalmond; */
  color: white;
}
/* .quickContact p{ */
/* font-size: 10px; */
/* padding-left: 25px; */
/* } */
.conNum{
  display: flex;
  flex-direction: row;
  width: 50%;
  align-items: center;
  margin-top: 10px; 
  justify-content: space-around;
   /* overflow:auto; */
}
.qContact{
  /* background-color: red; */
  width: 10%;
  height: 30px;
  margin-left: 40px;
 
}
.quickContact fa fa-phone-square{
  font-size: 40px;
}
.number{
  /* background-color: rgb(10, 240, 10); */
  width: 60%;
  height:30px ;
  font-size: 8px;
  padding-top: 5px;
}
.pass-word{
  width: 40%;
  /* background-color: blue; */
  color:white;
}
.pass-word form{
 margin-left: 60px;
}
  .lowerBody{
    /* height:550px; */
    width: 100%;
    background-color:white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border:2px solid black;
    padding-top: 45px;
  }
  @media(max-width: 800px) {
  .lowerBody{
     flex-direction:column;
  }
}
  .lowerBody1
  {
    height:550px ;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .box1
  {
    height: 180px;
    width: 80%;
     /* background-color:white; */
}
.box1 p{
  font-size: 12px;
  text-align: left;
}
.bigBox {
  height: 270px;
  width: 80%;
  border: 2px solid black;
  margin-top: 10px;
}
.box2 {
  height: 30px;
  width: 100%;
  background-color: black;
  color: white;
  border-bottom: 4px solid white;
}
.box3 {
  height: 236px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.box3-col1 {
  height: 236px;
  width: 30%;
  background-color: #0000ff;
}
#icon0 {
  font-size: 70px;
  padding-top: 65px;
  color: white;
}
#icon0:hover {
  font-size: 40px;
  color: white;
  cursor: pointer;
}
.box3-col2 {
  height: 236px;
  width: 70%;
  background-color: #0000ff;
}
.box3-col2 h2 {
  color: rgb(207, 207, 12);
}
.box3-col2 p {
  font-size: 13px;
  color: white;
}
.bttn-01 {
  height: 30px;
  width: 80%;
  text-align: right;
  margin-top: 10px;
}
#bttn00 {
  height: 20px;
  width: 120px;
  background-color: #0000ff;
  border-radius: 10px;
}
#bttn00:hover {
  color: white;
  cursor: pointer;
}

.lowerBody2 {
  height: 550px;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lowerbox1 {
  height: 180px;
  width: 80%;
  /* background-color:white; */
}
.lowerbox1 p {
  font-size: 12px;
  text-align: left;
}
.bigBox1 {
  height: 270px;
  width: 80%;
  border: 2px solid black;
  margin-top: 10px;
}
.lowerbox2 {
  height: 30px;
  width: 100%;
  background-color: black;
  color: white;
  border-bottom: 4px solid white;
}
.lowerbox3 {
  height: 236px;
  width: 100%;
  /* background-color: #ff4500; */

  display: flex;
  flex-direction: row;
}
.lowerbox3-col1 {
  height: 236px;
  width: 30%;
  background-color: #ff4500;
}
#icon {
  font-size: 70px;
  padding-top: 65px;
  color: white;
}
#icon:hover {
  font-size: 90px;
  cursor: pointer;
}
.lowerbox3-col2 {
  height: 236px;
  width: 70%;
  background-color: #ff4500;
}
.lowerbox3-col2 h2 {
  color: rgb(207, 207, 12);
}
.lowerbox3-col2 p {
  font-size: 13px;
  color: white;
}
.bttn {
  height: 30px;
  width: 80%;
  text-align: right;
   margin-top: 10px; 
} 
 #bttn10{
  height: 27px;
  width: 120px;
  background-color: #0000ff;
  border-radius: 10px;
  color: white;
  font-size: 12px;
}
/* #bttn10:hover{  
   color:white; 
  cursor: pointer; 
} */
.lowerBody3
{
  height:550px ;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lower1 {
  height: 180px;
  width: 80%;
  /* background-color:white; */
}
.lower1 p {
  font-size: 12px;
  text-align: left;
}
.bigBoxx2 {
  height: 270px;
  width: 80%;
  border: 2px solid black;
  margin-top: 10px;
}
.lower2 {
  height: 30px;
  width: 100%;
  background-color: black;
  color: white;
  border-bottom: 4px solid white;
}
.lower3 {
  height: 236px;
  width: 100%;
  /* background-color: rgb(10, 240, 10); */
  display: flex;
  flex-direction: row;
}
.footerBox3-col1 {
  height: 236px;
  width: 30%;
  background-color: rgb(10, 240, 10);
}
#icon2 {
  font-size: 70px;
  padding-top: 65px;
  color: white;
}
#icon2:hover {
  font-size: 70px;
  color: black;
  cursor: pointer;
}
.footerBox3-col2 {
  height: 236px;
  width: 70%;
  background-color: rgb(10, 240, 10);
}
.footerBox3-col2 h2 {
  color: rgb(207, 207, 12);
}
.footerBox3-col2 p {
  font-size: 13px;
  color: white;
}
/* .bttn{ */
/* height: 30px; */
/* width:80% ; */
/* text-align: right; */
/* margin-top: 10px; */
/* } */
/* #bttn10{ */
/* height:20px; */
/* width: 120px; */
/* background-color: #0000ff; */
/* border-radius: 10px; */
/* } */
/* #bttn10:hover{ */
/* color:white; */
/* cursor: pointer; */
/* } */

/*FOOTERRRRRRRR
.sign-up
{
  height:600px;
  width: 100%; 
}*/
.signUp-container{
    /* height: 400px; */
    width: 88%;
    margin: 1px auto 0px;
    background-color:black;
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: space-around; */
     padding-top: 150px;
     padding: 15px;
     /* border:1px solid white; */
}
@media(max-width:800px){
  .signUp-container{
    display:block;
  }
}
/* @media(max-width:800px){ */
  /* .signUp-container{ */
    /* flex-direction: row; */
  /* } */
/* } */
.signUp1{
    width: 25%;
    height: 300px;
     /* background-color: green;  */
    /* padding: 0%; */
    color: white;
    margin-left:20px;
    display:block;
    float: left;
}
.signUp1 h1{ 
font-family: 'Roboto', sans-serif; 
/* font-family: 'Wallpoet', cursive;   */
}
.signUp2{
width: 15%;
height: 300px;
background-color: black; 
font-family: 'Roboto', sans-serif;
display:block;
float:left;
}
 .signUp2 h4{
color: #868b59;
 }
.signUp2 p{
color:white;
}
.signUp4{
width: 100%;
 height: 300px;
}
.signUp4 h3 {
  padding-left: 15px;
  display:block; 
  float:left; /*flex*/

}
.signUp4-icon{
color: white;
display:block;  /*flex*/
float: left;
}
.fa{
color:white;
padding-right:10px;
}
.sinput{
 height: 30px;
 width: 250px;
border: black;
margin-top: 50px;
border-bottom: 2px solid gray;
background-color: black;
color:white;
}
.sinput:focus {
  border: none;
}
.signbtn{
background-color: red;
width: 90px;
height: 35px;
color:white;
border: none; 
}
.footer-border {
  height: 50px;
  width: 88%;
  padding:0px 15px;
  background-color: black;
  margin: auto;
  border-top: 1px solid grey;
}
