h1,p,h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /*for an example*/
    text-align: center;
    color: red;
}
.layout
{
    height:100%;
    width:100%;
    background-image: url('./img/B.jpg');
    background-size: cover; 
    object-fit: contain;
    background-repeat:no-repeat;
}

.head {
    height:200px;
    width: 70%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    color: #fff;
}


.main-heading {
    font-size: 30px;
    color: green;
}

.mid
{
    height: 380px;
    width: 75%;
    margin:auto;
    display: flex;
    color:red;
}

.div1
{
    height:100%;
    width: 30%;
    background-color: blanchedalmond;
    float:right;
    margin-left: 3.3%;
    padding: 0px 20px 20px 20px;
    box-sizing: border-box;
    text-align: center;
}

/* .div1 h4, .div1 p, .div1 h1{
    color:black;
    text-align: center;
    padding-top:auto; 
} */

.div1 h1{
    font-size: 70px;
}

/* .div1 p {
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
} */

p .div6 {
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
}

.pTag {
    padding-top: 20px;
    color:aquamarine;
}

.div1 button 
{    
    border-radius: 10px;
    height: 30px;
    width: 120px;
    border: 1px double rgb(243, 237, 237);
    font-size: 15px;
    background-color:blue;
    color:white ;
    margin-top: 40px;
    cursor: pointer;
    
}

.div1 button:hover {  
    border: 1px double blue;
    background-color:white;
    color:blue ;
 }

.div2
{
    height:100%;
    width: 30%;
    background-color:darkgray;
    margin:0% 3.3%;
}
.div3
{
    height:100%;
    width: 30%;
    background-color:coral;
    margin-right: 3.3%;
}


/* flex code
body {
    font-family: sans-serif;
  }
  .flex-container {
    width: 100%;
    height: 200px;
    background-color: #000;
    display: flex;
    flex-direction: row-reverse;
  }
  
  .flex-items {
    width: 32%;
    border: 5px solid white;
    height: 200px;
    background-color: rgb(226, 62, 62);
    font-size: 40px;
    text-align: center;
    order: 1;
  }
  
  .flex-items2 {
    width: 32%;
    border: 5px solid white;
    height: 200px;
    background-color: rgb(226, 62, 62);
    font-size: 40px;
    text-align: center;
    order: 0;
  }
  
  .flex-items3 {
    width: 32%;
    border: 5px solid white;
    height: 200px;
    background-color: rgb(226, 62, 62);
    font-size: 40px;
    text-align: center;
    order: 2;
  } */
