.layout
{
    height:580px;
    width:100%;
    background-image: url('./img/B.jpg');
    background-size: cover; 
    object-fit: contain;
     background-repeat:no-repeat;
     /*background-color:cornflowerblue;*/
    color: burlywood;
}

.head{
    color:white;
    height:200px;
    width: 100%;
    margin: auto;
}

.head h1{
    color:black;
    font-size: 30px;
    text-align: center;
    padding-top: 50px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /*for an example*/
}

.head p{
    text-align: center;
    padding: 0px 35px;
    color:white;
   
}

.mid
{
    height: 380px;
    width: 75%;
    /*background-color:cornflowerblue;*/
    margin:auto;

    display: flex;
    
    

}

.div1
{
    height:100%;
    width: 30%;
    background-color: blanchedalmond;
    float:right;
    margin-left: 3.3%;
    
 
}

.div1 h4,p,h1{
    color:black;
    text-align: center;
    padding-top:auto;

    
   
}
.div1 h1{
    font-size: 70px;
}
.div1 hr{
    width:70%;
    margin: auto;
    border-width: 2px;
    border-color: black;    
}

.div1 button 
{ 
    
    border-radius: 35px;
    margin: 70px;
    border-style:groove;
    font-size: 25px;
    background-color:blue;
    color:black
    
}

.div2
{
    height:100%;
    width: 30%;
    background-color:darkgray;
    float: left;
    margin:0% 3.3%;
   


 
}
.div3
{
    height:100%;
    width: 30%;
    background-color:coral;
  float:left;
  margin-right: 3.3%;
  
}
