.layout-login{
    width: 100%;
    height: 100vh;
    background-color:white;
    font-family: sans-serif;
}
.loginContainer{
    width: 90%;
    height: 10%;
    background-color:whitesmoke;
    margin:auto;
    display: flex;
   align-items: center;
   font-size: 25px;
   
}
@media(max-width:800px)
{
  .loginContainer{
    display: grid;
    grid-template-columns:70% 8% 8%;
  }
}
.login{
    margin-left: 30%;
}
.sukhi{
    padding: 90px 0px 160px 110px;
}
.sukhi button{
height: 34px;
width: 180px;
background-color: rgb(63, 63, 230);
color:white;
border-radius: 5px;
font-size: 18px;
}
button:hover
{
cursor: pointer;
background-color: #4545fd;
}

div .current {
    color: brown;
}
.scratch
{
    width: 92%;
    padding-left:15px;
    /* background-color:hotpink; */
}
.sign-up{
    width: 8%;
    /* background-color:rgb(17, 17, 17); */
    color:rgb(22, 20, 20)
}
.log-in{
    width: 8%;

}
a{
    text-decoration: none;
   }
a:link{
 color:rgb(105,105,105); 
}
a:active{
    color:brown;
color:rgb(169,169,169);
}
a:visited{
    color: black;
}
























